@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>

<form method="post" asp-action="Create">
   
    <partial name="PartialViews/CreateEditPartial"></partial>
    <div class="mt-3">
        <button class="btn btn-success" type="submit">Save</button>
        <a class="btn btn-danger" asp-action="Index">Cancel</a>
    </div>

 
</form>

@section Validation{

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}