 @model UserViewModel

<div class="form-group">
    <label asp-for="Id"></label>
    <input readonly class="form-control" asp-for="Id" />

</div>

<div class="form-group">
    <label asp-for="FirstName"></label>
    <input  class="form-control" asp-for="FirstName" />
</div>
<div class="form-group">
    <label asp-for="LastName"></label>
    <input  class="form-control" asp-for="LastName" />
</div>


<div class="form-group">
    <label asp-for="UserName"></label>
    <input readonly class="form-control" asp-for="UserName" />
</div>
<div class="form-group">
    <label asp-for="Email"></label>
    <input readonly class="form-control" asp-for="Email" />
</div>