
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		
		<p> Check Your Inbox</p>
		<br />
		<p><a asp-action="Login"> Login</a></p>
	</div>
