@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ForgetPassword" method="post">
			<div asp-validation-summary="All"></div>

			<br />
			<input class="text" type="text" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />
		

			
			
			<input type="submit" value="Send Reset Password Email">
		</form>
		<p><a asp-action="Login"> Cancel</a></p>
	</div>



	@section Validation {
		<partial name="_ValidationScriptsPartial"></partial>
	}
