@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword" method="post">
			<input hidden asp-for="Email"/>
			<input hidden asp-for="Token"/>
			<div asp-validation-summary="All"></div>

			<input class="text" asp-for="Password" placeholder="Password" required="">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />
			<input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<br />

			<input type="submit" value="Change Password">
		</form>
	</div>



	@section Validation {
		<partial name="_ValidationScriptsPartial"></partial>
	}
