@model EmployeeViewModel
<input hidden asp-for="ImageName" />
<div class="form-group">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address"></label>
    <input class="form-control" asp-for="Address" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Age"></label>
    <input class="form-control" asp-for="Age" />
    <span asp-validation-for="Age" class="text-danger"></span>

</div>
<div class="form-group">
    <label asp-for="Image"></label>
    <input class="form-control" asp-for="Image" />
    <span asp-validation-for="Image" class="text-danger"></span>

</div>

<div class="form-group">
    <label asp-for="Phone"></label>
    <input class="form-control" asp-for="Phone" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Department"></label>
    <select class="form-control" asp-items="ViewBag.Departments" asp-for="DepartmentId">
        <option value="@null" class="text-center">Select Department</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Salary"></label>
    <input class="form-control" asp-for="Salary" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="IsActive"></label>
    <input asp-for="IsActive" />
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>
