@model Employee

<div class="form-group">
    <label asp-for="Name"></label>
    <input readonly class="form-control" asp-for="Name" />
</div>
<div class="form-group">
    <label asp-for="Address"></label>
    <input readonly class="form-control" asp-for="Address" />
</div>
<div class="form-group">
    <label asp-for="Age"></label>
    <input readonly class="form-control" asp-for="Age" />

</div>

<div class="form-group">
    <label asp-for="Phone"></label>
    <input readonly class="form-control" asp-for="Address" />
</div>
<div class="form-group">
    <label asp-for="Email"></label>
    <input readonly class="form-control" asp-for="Email" />
</div>
<div class="form-group">
    <label asp-for="Salary"></label>
    <input readonly class="form-control" asp-for="Salary" />
</div>
<div class="form-group">
    <label asp-for="IsActive"></label>
    <input readonly asp-for="IsActive" />
</div>